{% extends 'network/base.html' %}

{% block title %}My Profile | StudentConnect{% endblock %}

{% block content %}
    <h1>{{ profile.name }}'s Profile</h1>
    <p><strong>Username:</strong> {{ profile.username }}</p>
    <p><strong>Majors:</strong> {{ profile.majors }}</p>
    <p><strong>Academic Interests:</strong> {{ profile.academic_interests }}</p>
    <p><strong>Non-Academic Interests:</strong> {{ profile.non_academic_interests }}</p>
    <p><strong>Current Classes:</strong> {{ profile.current_classes }}</p>
{% endblock %}
