<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
</head>
<body>
    <h1>{{ profile.name }}'s Profile</h1>
    <p><strong>profilename:</strong> {{ profile.profilename }}</p>
    <p><strong>Majors:</strong> {{ profile.majors }}</p>
    <p><strong>Academic Interests:</strong> {{ profile.academic_interests }}</p>
    <p><strong>Non-Academic Interests:</strong> {{ profile.non_academic_interests }}</p>
    <p><strong>Current Classes:</strong> {{ profile.current_classes }}</p>
</body>
</html>
